.arrow {
    @apply block relative h-px my-8 mx-0 opacity-60 bg-white;
}
.arrow::before,
.arrow::after {
    @apply block absolute right-0 bottom-0 h-px bg-white;

    content: '';
    width: 1.85rem;
}

.arrow::before {
    transform-origin: 100% 0;
    transform: rotateZ(225deg) translateX(100%) translateY(-1px);
}

.arrow::after {
    transform-origin: 100% 100%;
    transform: rotateZ(-225deg) translateX(100%) translateY(1px);
}
